<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org"> <!-- thymeleaf 사용 선언 -->
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>컨텐츠 상세</h2>
    </div>

    <h3 th:if="${param.status}" th:text="'등록이 완료되었습니다'"></h3>

    <div>
        <label for="itemId">컨텐츠 ID</label>
        <input type="text" id="itemId" name="itemId" class="form-control"
               value="1" th:value="${item.id}" readonly>
    </div>
    <div>
        <label for="itemName">컨텐츠명</label>
        <input type="text" id="itemName" name="itemName" class="form-control"
               value="컨텐츠A" th:value="${item.itemName}" readonly>
    </div>
    <div>
        <label for="price">가격</label>
        <input type="text" id="price" name="price" class="form-control"
               value="10000" th:value="${item.price}" readonly>
    </div>
    <div>
        <label for="quantity">수량</label>
        <input type="text" id="quantity" name="quantity" class="form-control"
               value="10" th:value="${item.quantity}" readonly>
    </div>
<!--    <div>-->
<!--        <embed type="application/pdf" th:if="${item.attachFile}" th:src="|/items/attach/${item.attachFile.getStoreFileName()}|" />-->
<!--&lt;!&ndash;        첨부파일: <a th:if="${item.attachFile}" th:href="|/items/attach/${item.id}|" th:text="${item.getAttachFile().getUploadFileName()}" />&ndash;&gt;-->
<!--&lt;!&ndash;        첨부파일: <a th:if="${item.attachFile}" th:href="|/items/attach/${item.attachFile.getStoreFileName()}|"&ndash;&gt;-->
<!--&lt;!&ndash;                 th:text="${item.getAttachFile().getUploadFileName()}" /> <br>&ndash;&gt;-->
<!--    </div>-->
    <div>
        <img th:each="imageFile : ${item.imageFiles}" th:src="|/items/images/${imageFile.getStoreFileName()}|" width="300" height="300"/>
    </div>
    <hr class="my-4">
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editForm.html'"
                    th:onclick="|location.href='@{/items/{itemId}/edit(itemId=${item.id})}'|"
                    type="button">컨텐츠 수정
            </button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='items.html'"
                    th:onclick="|location.href='@{/items}'|"
                    type="button">목록으로
            </button>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>